{{#with user}}
  <section class="dark:bg-gray-900 dark:text-gray-500 text-gray-600  body-font relative min-h-screen">
    
    {{> header}}

    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="dark:text-white sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Profile Page</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Hi <span class="font-bold">{{username}}</span>, here you can edit the name and description of your personal art gallery. The right naming is hard but essential. To edit recieved NFT art please visit your <a href="/collections/{{_id}}" class="text-blue-500 hover:underline">Gallery Page.</a></p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <form action="/users/{{id}}" method="post">
          <div class="flex flex-wrap -m-2">
            <div class="p-2 w-full">
              <div class="relative">
                <label for="collectionName" class=" dark:text-gray-500 leading-7 text-sm text-gray-600">Gallery Name</label>
                <input type="text"  name="collectionName" value="{{collectionName}}" class="dark:text-gray-100 dark:focus:ring-pink-900 dark:bg-gray-800 dark:border-gray-700 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-pink-500 focus:bg-white focus:ring-2 focus:ring-pink-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
              </div>
            </div>
            <div class="p-2 w-full">
              <div class="relative">
                <label for="collectionDescription" class=" dark:text-gray-500 leading-7 text-sm text-gray-600">Gallery Description </label>
                <textarea name="collectionDescription" class="dark:text-gray-100 dark:focus:ring-pink-900 dark:bg-gray-800 dark:border-gray-700 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-pink-500 focus:bg-white focus:ring-2 focus:ring-pink-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out">{{collectionDescription}}</textarea>
              </div>
            </div>
            <div class="p-2 w-full">
              <button type="submit" class="dark:bg-pink-600 dark:hover:bg-pink-500 flex mx-auto text-white bg-pink-500 border-0 py-2 px-8 focus:outline-none hover:bg-pink-600 rounded text-lg">Update Gallery</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{{/with}}