<h1>Quiz</h1>

{{#if lastAnswerWasCorrect}}
<p>that was correct!</p>
{{/if}}
{{#if lastAnswerWasWrong}}
<p>that was wrong!</p>
{{/if}}

<img src="{{nft.imageUrl}}" alt="" />

<p>{{nft.name}}</p>
<p>{{nft.collectionDescription}}</p>
<p>{{nft.lastSale.priceUsd}}$</p>

<form action="/quiz" method="POST">
  {{#each questions}}
    <div>
      <h2>{{question}}</h2>
      {{#each options}}
        {{!-- <p>{{this}}</p> --}}
        <div>
          <input type="radio" id="{{this}}" name="{{../question}}" value="{{this}}" />
          <label for="huey">{{this}}</label>
        </div>
      {{/each}}
    </div>
  {{/each}}
  <button type="submit">Send</button>
</form>